set default=0
set timeout=5
set timeout_style=menu

# Debian live-build puts this font at /boot/grub/unicode.pf2. On current
# GRUB, the feature-default path points into /boot/grub/fonts instead.
set font=$prefix/unicode.pf2

if loadfont $font; then
    set gfxmode=800x600
    set gfxpayload=keep
    insmod efi_gop
    insmod efi_uga
    insmod video_bochs
    insmod video_cirrus
else
    set gfxmode=auto
    insmod all_video
fi

insmod gfxterm
insmod png

source /boot/grub/theme.cfg

terminal_output gfxterm

insmod play
play 960 440 1 0 4 440 1
